In [1]:
from pyspark.sql import SparkSession
from pyspark import  SparkContext
import os
import pandas as pd

/tmp/ipykernel_2774/2081191832.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
spark = SparkSession.builder.master("yarn").getOrCreate()

/spark/bin/load-spark-env.sh: line 68: ps: command not found
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/15 02:33:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/15 02:33:38 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [3]:
import pandas as pd

# Sample data for Product table
product_data = {
    'product_id': [1, 2, 3],
    'product_name': ['LC Phone', 'LC T-Shirt', 'LC Keychain']
}

# Sample data for Sales table
sales_data = {
    'product_id': [1, 2, 3],
    'period_start': ['2019-01-25', '2018-12-01', '2019-12-01'],
    'period_end': ['2019-02-28', '2020-01-01', '2020-01-31'],
    'average_daily_sales': [100, 10, 1]
}

# Convert date strings to datetime objects
sales_data['period_start'] = pd.to_datetime(sales_data['period_start'])
sales_data['period_end'] = pd.to_datetime(sales_data['period_end'])

# Create DataFrame for Product and Sales tables
product_df = pd.DataFrame(product_data)
sales_df = pd.DataFrame(sales_data)


df_person = spark.createDataFrame(product_df)
df_person.createOrReplaceTempView("Product")

df_person = spark.createDataFrame(sales_df)
df_person.createOrReplaceTempView("Sales")

In [4]:
print(product_df)
print()
print(sales_df)

   product_id product_name
0           1     LC Phone
1           2   LC T-Shirt
2           3  LC Keychain

   product_id period_start period_end  average_daily_sales
0           1   2019-01-25 2019-02-28                  100
1           2   2018-12-01 2020-01-01                   10
2           3   2019-12-01 2020-01-31                    1

In [101]:
query = """
    select
        *,
        explode(sequence(year(period_start), year(period_end))) as year_gen
    from Sales s
"""

In [102]:
spark.sql(query).show()

+----------+-------------------+-------------------+-------------------+--------+
|product_id|       period_start|         period_end|average_daily_sales|year_gen|
+----------+-------------------+-------------------+-------------------+--------+
|         1|2019-01-25 00:00:00|2019-02-28 00:00:00|                100|    2019|
|         2|2018-12-01 00:00:00|2020-01-01 00:00:00|                 10|    2018|
|         2|2018-12-01 00:00:00|2020-01-01 00:00:00|                 10|    2019|
|         2|2018-12-01 00:00:00|2020-01-01 00:00:00|                 10|    2020|
|         3|2019-12-01 00:00:00|2020-01-31 00:00:00|                  1|    2019|
|         3|2019-12-01 00:00:00|2020-01-31 00:00:00|                  1|    2020|
+----------+-------------------+-------------------+-------------------+--------+

In [86]:
query_1 = f"""
    select
        *,
        max(year_gen) over(partition by product_id) = year_gen as is_max,
        min(year_gen) over(partition by product_id) = year_gen as is_min
    from (
        {query}
    )
"""

In [87]:
spark.sql(query_1).show()

+----------+-------------------+-------------------+-------------------+--------+------+------+
|product_id|       period_start|         period_end|average_daily_sales|year_gen|is_max|is_min|
+----------+-------------------+-------------------+-------------------+--------+------+------+
|         1|2019-01-25 00:00:00|2019-02-28 00:00:00|                100|    2019|  true|  true|
|         2|2018-12-01 00:00:00|2020-01-01 00:00:00|                 10|    2018| false|  true|
|         2|2018-12-01 00:00:00|2020-01-01 00:00:00|                 10|    2019| false| false|
|         2|2018-12-01 00:00:00|2020-01-01 00:00:00|                 10|    2020|  true| false|
|         3|2019-12-01 00:00:00|2020-01-31 00:00:00|                  1|    2019| false|  true|
|         3|2019-12-01 00:00:00|2020-01-31 00:00:00|                  1|    2020|  true| false|
+----------+-------------------+-------------------+-------------------+--------+------+------+

In [96]:
query_2 = f"""
    select
        t.product_id,
        p.product_name,
        t.year_gen as year_report,
        case
            when (is_max and is_min) then average_daily_sales * (
                date_diff(
                    period_end, 
                    period_start
                ) + 1
            )
            
            when (is_min) then average_daily_sales * date_diff(
                to_date(concat(year_gen + 1, '-01-01'), 'yyyy-MM-dd'), 
                period_start
            )

            when (is_max) then average_daily_sales * (
                date_diff(
                    period_end, 
                    to_date(concat(year_gen, '-01-01'), 'yyyy-MM-dd')
                ) + 1
            )
            
            else average_daily_sales * date_diff(
                to_date(concat(year_gen + 1, '-01-01'), 'yyyy-MM-dd'), 
                to_date(concat(year_gen, '-01-01'), 'yyyy-MM-dd')
            )
            
        end as total_amount
    from (
        {query_1}
    ) t left join Product p on t.product_id = p.product_id
    order by t.product_id asc, year_report asc
"""

In [100]:
print(query_2)
spark.sql(query_2).show()
spark.sql(query_2).explain(extended=True)

    select
        t.product_id,
        p.product_name,
        t.year_gen as year_report,
        case
            when (is_max and is_min) then average_daily_sales * (
                date_diff(
                    period_end,
                    period_start
                ) + 1
            )

            when (is_min) then average_daily_sales * date_diff(
                to_date(concat(year_gen + 1, '-01-01'), 'yyyy-MM-dd'),
                period_start
            )

            when (is_max) then average_daily_sales * (
                date_diff(
                    period_end,
                    to_date(concat(year_gen, '-01-01'), 'yyyy-MM-dd')
                ) + 1
            )

            else average_daily_sales * date_diff(
                to_date(concat(year_gen + 1, '-01-01'), 'yyyy-MM-dd'),
                to_date(concat(year_gen, '-01-01'), 'yyyy-MM-dd')
            )

        end as total_amount
    from (

    select
        *,
        max(year_gen) over(partition by product_id) = year_gen as is_max,
        min(year_gen) over(partition by product_id) = year_gen as is_min
    from (

    select
        *,
        explode(sequence(year(period_start), year(period_end))) as year_gen
    from Sales s

    )

    ) t left join Product p on t.product_id = p.product_id
    order by t.product_id asc, year_report asc

+----------+------------+-----------+------------+
|product_id|product_name|year_report|total_amount|
+----------+------------+-----------+------------+
|         1|    LC Phone|       2019|        3500|
|         2|  LC T-Shirt|       2018|         310|
|         2|  LC T-Shirt|       2019|        3650|
|         2|  LC T-Shirt|       2020|          10|
|         3| LC Keychain|       2019|          31|
|         3| LC Keychain|       2020|          31|
+----------+------------+-----------+------------+

== Parsed Logical Plan ==
'Sort ['t.product_id ASC NULLS FIRST, 'year_report ASC NULLS FIRST], true
+- 'Project ['t.product_id, 'p.product_name, 't.year_gen AS year_report#1764, CASE WHEN ('is_max AND 'is_min) THEN ('average_daily_sales * ('date_diff('period_end, 'period_start) + 1)) WHEN 'is_min THEN ('average_daily_sales * 'date_diff('to_date('concat(('year_gen + 1), -01-01), yyyy-MM-dd), 'period_start)) WHEN 'is_max THEN ('average_daily_sales * ('date_diff('period_end, 'to_date('concat('year_gen, -01-01), yyyy-MM-dd)) + 1)) ELSE ('average_daily_sales * 'date_diff('to_date('concat(('year_gen + 1), -01-01), yyyy-MM-dd), 'to_date('concat('year_gen, -01-01), yyyy-MM-dd))) END AS total_amount#1765]
   +- 'Join LeftOuter, ('t.product_id = 'p.product_id)
      :- 'SubqueryAlias t
      :  +- 'Project [*, ('max('year_gen) windowspecdefinition('product_id, unspecifiedframe$()) = 'year_gen) AS is_max#1762, ('min('year_gen) windowspecdefinition('product_id, unspecifiedframe$()) = 'year_gen) AS is_min#1763]
      :     +- 'SubqueryAlias __auto_generated_subquery_name
      :        +- 'Project [*, 'explode('sequence('year('period_start), 'year('period_end))) AS year_gen#1761]
      :           +- 'SubqueryAlias s
      :              +- 'UnresolvedRelation [Sales], [], false
      +- 'SubqueryAlias p
         +- 'UnresolvedRelation [Product], [], false

== Analyzed Logical Plan ==
product_id: bigint, product_name: string, year_report: int, total_amount: bigint
Sort [product_id#4L ASC NULLS FIRST, year_report#1764 ASC NULLS FIRST], true
+- Project [product_id#4L, product_name#1, year_gen#1766 AS year_report#1764, CASE WHEN (is_max#1762 AND is_min#1763) THEN (average_daily_sales#7L * cast((date_diff(cast(period_end#6 as date), cast(period_start#5 as date)) + 1) as bigint)) WHEN is_min#1763 THEN (average_daily_sales#7L * cast(date_diff(to_date(concat(cast((year_gen#1766 + 1) as string), -01-01), Some(yyyy-MM-dd), Some(Etc/UTC), false), cast(period_start#5 as date)) as bigint)) WHEN is_max#1762 THEN (average_daily_sales#7L * cast((date_diff(cast(period_end#6 as date), to_date(concat(cast(year_gen#1766 as string), -01-01), Some(yyyy-MM-dd), Some(Etc/UTC), false)) + 1) as bigint)) ELSE (average_daily_sales#7L * cast(date_diff(to_date(concat(cast((year_gen#1766 + 1) as string), -01-01), Some(yyyy-MM-dd), Some(Etc/UTC), false), to_date(concat(cast(year_gen#1766 as string), -01-01), Some(yyyy-MM-dd), Some(Etc/UTC), false)) as bigint)) END AS total_amount#1765L]
   +- Join LeftOuter, (product_id#4L = product_id#0L)
      :- SubqueryAlias t
      :  +- Project [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L, year_gen#1766, is_max#1762, is_min#1763]
      :     +- Project [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L, year_gen#1766, _we0#1769, _we1#1770, (_we0#1769 = year_gen#1766) AS is_max#1762, (_we1#1770 = year_gen#1766) AS is_min#1763]
      :        +- Window [max(year_gen#1766) windowspecdefinition(product_id#4L, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS _we0#1769, min(year_gen#1766) windowspecdefinition(product_id#4L, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS _we1#1770], [product_id#4L]
      :           +- Project [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L, year_gen#1766]
      :              +- SubqueryAlias __auto_generated_subquery_name
      :                 +- Project [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L, year_gen#1766]
      :                    +- Generate explode(sequence(year(cast(period_start#5 as date)), year(cast(period_end#6 as date)), None, Some(Etc/UTC))), false, [year_gen#1766]
      :                       +- SubqueryAlias s
      :                          +- SubqueryAlias sales
      :                             +- View (`Sales`, [product_id#4L,period_start#5,period_end#6,average_daily_sales#7L])
      :                                +- LogicalRDD [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L], false
      +- SubqueryAlias p
         +- SubqueryAlias product
            +- View (`Product`, [product_id#0L,product_name#1])
               +- LogicalRDD [product_id#0L, product_name#1], false

== Optimized Logical Plan ==
Sort [product_id#4L ASC NULLS FIRST, year_report#1764 ASC NULLS FIRST], true
+- Project [product_id#4L, product_name#1, year_gen#1766 AS year_report#1764, CASE WHEN (is_max#1762 AND is_min#1763) THEN (average_daily_sales#7L * cast((date_diff(cast(period_end#6 as date), cast(period_start#5 as date)) + 1) as bigint)) WHEN is_min#1763 THEN (average_daily_sales#7L * cast(date_diff(cast(gettimestamp(concat(cast((year_gen#1766 + 1) as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date), cast(period_start#5 as date)) as bigint)) WHEN is_max#1762 THEN (average_daily_sales#7L * cast((date_diff(cast(period_end#6 as date), cast(gettimestamp(concat(cast(year_gen#1766 as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date)) + 1) as bigint)) ELSE (average_daily_sales#7L * cast(date_diff(cast(gettimestamp(concat(cast((year_gen#1766 + 1) as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date), cast(gettimestamp(concat(cast(year_gen#1766 as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date)) as bigint)) END AS total_amount#1765L]
   +- Join LeftOuter, (product_id#4L = product_id#0L)
      :- Project [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L, year_gen#1766, (_we0#1769 = year_gen#1766) AS is_max#1762, (_we1#1770 = year_gen#1766) AS is_min#1763]
      :  +- Window [max(year_gen#1766) windowspecdefinition(product_id#4L, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS _we0#1769, min(year_gen#1766) windowspecdefinition(product_id#4L, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS _we1#1770], [product_id#4L]
      :     +- Generate explode(sequence(year(cast(period_start#5 as date)), year(cast(period_end#6 as date)), None, Some(Etc/UTC))), false, [year_gen#1766]
      :        +- LogicalRDD [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L], false
      +- Filter isnotnull(product_id#0L)
         +- LogicalRDD [product_id#0L, product_name#1], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [product_id#4L ASC NULLS FIRST, year_report#1764 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(product_id#4L ASC NULLS FIRST, year_report#1764 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=2278]
      +- Project [product_id#4L, product_name#1, year_gen#1766 AS year_report#1764, CASE WHEN (is_max#1762 AND is_min#1763) THEN (average_daily_sales#7L * cast((date_diff(cast(period_end#6 as date), cast(period_start#5 as date)) + 1) as bigint)) WHEN is_min#1763 THEN (average_daily_sales#7L * cast(date_diff(cast(gettimestamp(concat(cast((year_gen#1766 + 1) as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date), cast(period_start#5 as date)) as bigint)) WHEN is_max#1762 THEN (average_daily_sales#7L * cast((date_diff(cast(period_end#6 as date), cast(gettimestamp(concat(cast(year_gen#1766 as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date)) + 1) as bigint)) ELSE (average_daily_sales#7L * cast(date_diff(cast(gettimestamp(concat(cast((year_gen#1766 + 1) as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date), cast(gettimestamp(concat(cast(year_gen#1766 as string), -01-01), yyyy-MM-dd, TimestampType, Some(Etc/UTC), false) as date)) as bigint)) END AS total_amount#1765L]
         +- SortMergeJoin [product_id#4L], [product_id#0L], LeftOuter
            :- Project [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L, year_gen#1766, (_we0#1769 = year_gen#1766) AS is_max#1762, (_we1#1770 = year_gen#1766) AS is_min#1763]
            :  +- Window [max(year_gen#1766) windowspecdefinition(product_id#4L, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS _we0#1769, min(year_gen#1766) windowspecdefinition(product_id#4L, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS _we1#1770], [product_id#4L]
            :     +- Sort [product_id#4L ASC NULLS FIRST], false, 0
            :        +- Exchange hashpartitioning(product_id#4L, 200), ENSURE_REQUIREMENTS, [plan_id=2267]
            :           +- Generate explode(sequence(year(cast(period_start#5 as date)), year(cast(period_end#6 as date)), None, Some(Etc/UTC))), [product_id#4L, period_start#5, period_end#6, average_daily_sales#7L], false, [year_gen#1766]
            :              +- Scan ExistingRDD[product_id#4L,period_start#5,period_end#6,average_daily_sales#7L]
            +- Sort [product_id#0L ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(product_id#0L, 200), ENSURE_REQUIREMENTS, [plan_id=2273]
                  +- Filter isnotnull(product_id#0L)
                     +- Scan ExistingRDD[product_id#0L,product_name#1]

In [75]:
print(query_2)

    select
        *,
        case
            when is_max and is_min then average_daily_sales * (date_diff(period_end, period_start) + 1)
            when is_min then average_daily_sales * (date_diff(to_date(concat(year_gen + 1, '-01-01'), 'yyyy-MM-dd'), period_start))
            when is_max then average_daily_sales * (date_diff(to_date(concat(year_gen + 1, '-01-01'), 'yyyy-MM-dd'), period_start))
        end as value
    from (

    select
        *,
        max(year_gen) over(partition by product_id) = year_gen as is_max,
        min(year_gen) over(partition by product_id) = year_gen as is_min
    from (

    select
        *,
        Year(period_end) - Year(period_start) + 1 as diff_year,
        date_diff(period_end, period_start) as diff_date,
        date_add(period_end, 1) as date_end_cal,
        Year(period_end) - Year(period_start) as date_gen,
        explode(sequence(year(period_start), year(period_end))) as year_gen,
        average_daily_sales * 365 as total_each_year
    from Sales s

    )

    )