In [1]:
from pyspark.sql import SparkSession
from pyspark import  SparkContext
import os
import pandas as pd

/tmp/ipykernel_109213/2081191832.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
spark = SparkSession.builder.master("yarn").getOrCreate()

/spark/bin/load-spark-env.sh: line 68: ps: command not found
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/10 08:43:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/10 08:43:01 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [3]:
# Sample DataFrame (replace this with your actual DataFrame)
data_address = [
    (1,  "Wang", "Allen"),
    (2,  "Alice", "Bob"),
]


columns = ["personId", "lastName", "firstName"]
df_person = spark.createDataFrame(data_address, columns)
# Register the DataFrame as a temporary view
df_person.createOrReplaceTempView("Person")


# Sample DataFrame (replace this with your actual DataFrame)
data_address = [

    (1, 2, "New York City", "New York"),
    (2, 3, "Leetcode", "California"),

]
columns = ["addressId", "personId", "city", "state"]
df = spark.createDataFrame(data_address, columns)
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("Address")

In [4]:
df_person.show()

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       1|    Wang|    Allen|
|       2|   Alice|      Bob|
+--------+--------+---------+

In [5]:
df.show()

+---------+--------+-------------+----------+
|addressId|personId|         city|     state|
+---------+--------+-------------+----------+
|        1|       2|New York City|  New York|
|        2|       3|     Leetcode|California|
+---------+--------+-------------+----------+

In [6]:
query = """
	select
		p.firstName,
		p.lastName,
		a.city,
		a.state
	from
		Person p left join Address a
		on p.personId = a.personId

"""

In [7]:
spark.sql(query).show()

+---------+--------+-------------+--------+
|firstName|lastName|         city|   state|
+---------+--------+-------------+--------+
|    Allen|    Wang|         NULL|    NULL|
|      Bob|   Alice|New York City|New York|
+---------+--------+-------------+--------+