In [3]:
from pyspark.sql import SparkSession
from pyspark import  SparkContext
import os
import pandas as pd

In [4]:
spark = SparkSession.builder.master("yarn").getOrCreate()

In [5]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

df_person = spark.createDataFrame(customer)
df_person.createOrReplaceTempView("Customer")

In [6]:
customer

   id  name  referee_id
0   1  Will        <NA>
1   2  Jane        <NA>
2   3  Alex           2
3   4  Bill        <NA>
4   5  Zack           1
5   6  Mark           2

In [11]:
query = """
    select
        c.name
    from Customer c
    where c.referee_id <> 2 or referee_id is null
"""

In [12]:
spark.sql(query).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+